{% extends 'flatpages/default.html' %}
 
{% block title %} Create reply {% endblock title %}
 
{% block content %}
<h1>{{ bulletin.header }}</h1>
<h4>Категория: {{ bulletin.category_name }}</h4>
{{ bulletin.body }}
<p><b>{{ bulletin.author }}</b>, <i>{{ bulletin.create_time|date:'d-M-Y H:m' }} </i></p>
<br>
<h3>Создание отклика</h3>
<form method="POST">
    {% csrf_token %} 
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Добавить отклик">
</form>
{% endblock content %}